.row
  .large-12.columns.panel.main_div
    %p#notice= notice
    %p
      Original url:
      %br
      = @url.original_url
    %p
      %strong "Shortened" url:
      %br
      %strong= "http://q1w.herokuapp.com/"+@url.shortened_extension
    = link_to 'Make Another URL', new_url_path
