/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

.main_div{
	margin-top:12em;
}

.large-12.columns.panel.main_div{
	text-align: center;
}

#q{
	width:45%;
	margin:0 auto;
	font-size:1em;
	text-align:center;
}

#line{
	color:black;
	margin-top:0;
}

.original{
	margin-bottom:0;
}
/*label{
	color:white;
	font-size:1em;
}*/